<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<style>
th, td {
  padding: 1px;
  padding-right: 1px;
  text-align: left; 
  vertical-align: center;
}
tr:nth-child(even) {background-color: #dddddd;}
</style>
<title>Budgeted Discretionary</title>
</head>
<!-- NEED TO CHANGE BELOW FOR BUDGETED DISCRETIONARY (THIS IS JUST A COPY/PASTE FROM DISCRETIONARYCATEGORY.HTML) -->
<body>
	<h1>Add/update/delete discretionary information for this budget period:</h1>
	<form th:object="${discretionaryCategory}" th:action="@{/updateDiscretionaryCategory/{id}(id=${discretionaryCategory.discCategoryId})}" method='POST'>	
		<table style="width: 455px">
			<tr>
				<th>Discretionary Category:</th>
				<td><input name="id" th:field="*{discCategoryId}" hidden></td>
				<td><input type="text" name="description" size="30" th:field="*{description}" required></td>
				<td><input name="submit" type="submit" value="Submit"></td>
			</tr>
		</table>
		<br />
	</form>	
	<form> 
		<table>
			<th:block th:if="${allDiscretionaryCategories == 'EMPTY'}"><font color="red">No categories exist. Must add at least one category to continue.</font></th:block>
			<th:block th:if="${allDiscretionaryCategories != 'EMPTY'}">  
				<tr th:each="currentCategory : ${allDiscretionaryCategories}">
					<td th:text="${currentCategory.description}" />
					<td><a th:href="@{/editDiscretionaryCategory/{id}(id=${currentCategory.discCategoryId})}">Edit</a></td>
					<td><a th:href="@{/deleteDiscretionaryCategory/{id}(id=${currentCategory.discCategoryId})}">Delete</a></td>
				</tr>
			</th:block>
		</table>
		<br />
	</form>
	<form> <!-- This will need to pass in/out the BudgetPeriod object - similar to first form seen above -->
		<br />
		<table>
			<tr><td><input name="continue" type="submit" value="Continue"></td></tr>
		</table>
	</form>
</body>
</html>