<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert a New Budgeted Bill Entry</title>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
</style>
</head>
<body>
<h1>Edit Budgeted Bill</h1>

<h3>Budget Period</h3>
 
<table>
<tr>
<th>Budget Period Description</th>
<th>Start Date</th>
<th>End Date</th>
</tr>
<tr >
	<td th:text="${selectedBudgetPeriod.id}" hidden />
	<td th:text="${selectedBudgetPeriod.description}" />
	<td th:text="${#dates.format(selectedBudgetPeriod.startDate, 'MM/dd/yyyy')}" /> 
	<td th:text="${#dates.format(selectedBudgetPeriod.endDate, 'MM/dd/yyyy')}" /> 	
</tr>
</table>


<form th:object="${newBudgetedBill}"  th:action="@{/updateBudgetedBills/{id}/{periodId}(id=${newBudgetedBill.id}, periodId=${selectedBudgetPeriod.id})}" method=POST>
 
Bill Name: <input name="Description" size="20" th:field="*{name}"><br />
Account Number: <input name="Account Number" size="20" th:field="*{accountNum}"><br />
Category: <input name="Category" size="20" th:field="*{category}"><br />
Due Date: <input type ="text" name = "dateDue" placeholder="MM/dd/yyyy" th:field="*{dateDue}"><br />
Amount Due: <input type ="text" name = "price"  th:field="*{price}"><br />

<input name="Submit" type="submit" value="Submit" /><br /><br />
</body>
</html>