<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Budgeted Discretionary Spending Entry</title>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
</style>
</head>

<body>
	<h1>Enter Budgeted Discretionary Spending</h1>	
	
	<h3>Budget Period</h3>
	<!-- This section is read only, it displays the Budget Period that was passed in from the web controller -->
	<table>
		<tr>
			<th>Budget Period Description</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Total Budgeted Spending</th>
		</tr>
		<tr >
			<td th:text="${selectedBudgetPeriod.id}" hidden/>
			<td th:text="${selectedBudgetPeriod.description}" />
			<td th:text="${#dates.format(selectedBudgetPeriod.startDate, 'MM/dd/yyyy')}" /> 
			<td th:text="${#dates.format(selectedBudgetPeriod.endDate, 'MM/dd/yyyy')}" />
			<td th:text="${BudgetedDiscTotal}" /> 	
		</tr>
	</table>
	<br/>
	<form th:object="${newBudgetedDiscretionary}" th:action="@{/updateBudgetedDiscretionary/{periodId}/{GoTo}(periodId=${selectedBudgetPeriod.id},GoTo=${GoTo})}" method=POST>	
	<!-- <form th:object="${newBudgetedIncome}" th:action="@{/updateBudgetedIncome/{id}/{periodid}/{GoTo}(id=${newBudgetedIncome.id},periodid=${selectedBudgetPeriod.id},GoTo = ${GoTo})}" method=POST> -->
		<tr><td><input name="id" th:field="*{id}" hidden></td></tr>
		<tr>
			<th>Discretionary Category:</th>
			<td>			
				<select th:field="*{discCategory.discCategoryId}">
					<option th:each="currentDiscretionaryCategory : ${DiscretionaryCategories}" 
						th:value="${currentDiscretionaryCategory.discCategoryId}" 
						th:text="${currentDiscretionaryCategory.description}">
					</option>
				</select>
			</td> 
		</tr>
		<tr>
			<th>Discretionary Amount:</th>
			<td><input type="number" size="10" maxlength="12" max="9999999.99" step="0.01" name="amount"  th:field="*{amount}"></td>
		</tr>
		<tr>
			<th><input name="submit" type="submit" value="submit" /></th>
		</tr>
	</form>
</body>
</html>