<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert New Budget Period</title>
</head>
<body>
<form th:object="${newBudgetPeriod}" th:action="@{/updateBudgetPeriod/{id}(id=${newBudgetPeriod.id})}" method=POST>
Budget Period Name: <input name="Description" size="20" th:field="*{Description}"><br />
<!--	Start Date: <input type ="text" name = "month1" placeholder="mm" size="4"> <input type ="text" name = "day1" placeholder="dd" size="4">, <input type ="text" name = "year1" placeholder="yyyy" size="4">-->
<!--	End Date: <input type ="text" name = "month2" placeholder="mm" size="4"> <input type ="text" name = "day2" placeholder="dd" size="4">, <input type ="text" name = "year2" placeholder="yyyy" size="4">-->

<input name="Submit" type="submit" value="submit" />
</form>
<a href = "../viewAllBudgetPeriods">View all Budget Periods</a><br/>
<a href="../inputBudgetPeriod">Add a new Budget Period</a><br/>

</body>
</html>