<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert New Budget Period</title>
</head>
<body>
<h1>Enter Budget Period</h1>
<h15>Name the time period that you want to budget for. Usually one month is a good starting place. You could choose to use one pay period or a full year, if you prefer.</h5>

<form th:object="${newBudgetPeriod}" th:action="@{/updateBudgetPeriod/{id}(id=${newBudgetPeriod.id})}" method=POST>
Budget Period Name: <input name="Description" size="20" th:field="*{description}"><br />
Start Date: <input type ="text" name = "startDate" placeholder="MM/dd/yyyy" th:field="*{startDate}"><br />
End Date: <input type ="text" name = "endDate" placeholder="MM/dd/yyyy" th:field="*{endDate}"><br />

<input name="Submit" type="submit" value="submit" />
</form>
<a href = "/">Return to all Budget Periods</a><br/>

</body>
</html>