<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>View All BudgetPeriods</title>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
</style>
</head>
<body>
<h1>Budget Period Reports</h1>


<h2>Selected Budget Period </h2>

<table>

<tr>
<th>Description</th>
<th>Start Date</th>
<th>End Date</th>
<th>All Income </br> Budgeted</th>
<th>All Bills</br> Budgeted</th>
<th>All Other </br>Spending</br> Budgeted</th>

</tr>
 
<tr >
	<td th:text="${selectedBudgetPeriod.id}"  hidden/>
	<td th:text="${selectedBudgetPeriod.description}" />
	<td th:text="${#dates.format(selectedBudgetPeriod.startDate, 'MM/dd/yyyy')}" /> 
	<td th:text="${#dates.format(selectedBudgetPeriod.endDate, 'MM/dd/yyyy')}" /> 
 	<td th:text="${#numbers.formatCurrency(periodIncomesTotal)}" /> 
	 <td th:text="${#numbers.formatCurrency(periodBillsTotal)}" /> 
	 <td  th:text="${#numbers.formatCurrency(periodDiscTotal)}" /> 
	 	 <!-- https://www.thymeleaf.org/apidocs/thymeleaf/3.0.6.RELEASE/index.html?org/thymeleaf/expression/Numbers.html -->
</table>
</br>
<td  th:text="${#numbers.formatCurrency(periodBudgetBalance)}" /> 

<th th:text="${balanceInstructions}"/>

<h2>Income</h2>

<table>

<tr>
<th>Description</th> 
<th>Date</th>
<th>Amount</th>

</tr>
 
<tr th:each="currentBudgetedIncome: ${periodIncomes}">
	<td  th:text="${currentBudgetedIncome.id}"  />
	<td th:text="${currentBudgetedIncome.description}" />
	<td th:text="${#dates.format(currentBudgetedIncome.incomeDate, 'MM/dd/yyyy')}" /> 
	<td th:text="${currentBudgetedIncome.amount}" />
	<td><a th:href="@{/editBudgetedIncome/{id}/GoToReports(id=${currentBudgetedIncome.id})}">Edit </a></td>
	<td><a th:href="@{/deleteBudgetedIncome/{id}/GoToReports(id=${currentBudgetedIncome.id})}">Delete </a></td>
	</tr>
</table>

<h2>Bills</h2>

<!-- add table here for bills -->
<h2>Discretionary Spending Budget</h2>

<!-- add table here for discretionary -->


<a href="/inputBudgetPeriod">Add a new Budget Period</a><br/>
<a href = "/viewAllBudgetPeriods">View all Budget Periods</a><br/>

</body></html>