<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View All Bills</title>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
</style>
</head>
<body>
<h1>Bills</h1>

<form>
<table>

<tr>
<th>Name</th>
<th>Account Number</th>
<th>Category</th>
<th>Due Date</th>
<th>Total Due</th>

</tr>

<tr th:each="currentBudgetedBill: ${BudgetedBills}">
	<td th:text="${currentBudgetedBill.id}" hidden />
	<td th:text="${currentBudgetedBill.name}" />
	<td th:text="${currentBudgetedBill.accountNum}" />
	<td th:text="${currentBudgetedBill.category}" />
	<td th:text="${#dates.format(currentBudgetedBill.dateDue, 'MM/dd/yyyy')}" />
	<td th:text="${#numbers.formatCurrency(currentBudgetedBill.price)}" />
	
	<td><a th:href="@{/editBudgetedBill/{id}(id=${currentBudgetedBill.id})}">Edit</a></td>
	<td><a th:href="@{/deleteBudgetedBills/{id}(id=${currentBudgetedBill.id})}">Delete</a></td>
	<!--  <td><a th:href="@{/viewReports/{periodId}(periodId=${currentBudgetPeriod.id})}">View Reports for this Budget Period</a></td>-->
</tr>

</table>
</form>

<!--<a href="../updateBudgetedBill">Add a new Bill</a><br/>  -->
<a href="../updateBudgetedBills">Add a new Bill</a><br/>
<a th:href = "@{/}">Return to All Budget Periods</a>
</body>
</html>