<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>View All BudgetPeriods</title>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
</style>
</head>
<body>
<h1>Budget Periods</h1>

<form>
<table>

<tr>
<th>Description</th>
<th>Start Date</th>
<th>End Date</th>

</tr>
 
<tr th:each="currentBudgetPeriod: ${BudgetPeriods}">
	<td th:text="${currentBudgetPeriod.id}" hidden />
	<td th:text="${currentBudgetPeriod.description}" />
	<td th:text="${#dates.format(currentBudgetPeriod.startDate, 'MM/dd/yyyy')}" /> 
	<td th:text="${#dates.format(currentBudgetPeriod.endDate, 'MM/dd/yyyy')}" /> 
	
	<td><a th:href="@{/inputBudgetedIncome/{periodId}(periodId=${currentBudgetPeriod.id})}">Continue to Enter Income</a></td>
	
	<td><a th:href="@{/editBudgetPeriod/{id}(id=${currentBudgetPeriod.id})}">Edit</a></td>
	<td><a th:href="@{/deleteBudgetPeriod/{id}(id=${currentBudgetPeriod.id})}">Delete</a></td>
	<td th:text="${currentBudgetPeriod.id} "  /> <!-- temporarily displaying ID for testing" -->
	
	</tr>
</table>
</form>
<a href = "../viewAllBudgetPeriods">View all Budget Periods</a><br/>
<a href="../inputBudgetPeriod">Add a new Budget Period</a><br/>
</body>
</html>