<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>View All BudgetedIncomes</title>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
</style>
</head>
<body>
<h1>Income</h1>

<form>
<table>

<tr>
<th>IncomeID</th> 
<th>Description</th> 
<th>Date</th>
<th>Amount</th>
<th>BudgetPeriodID</th>
<th>BudgetPeriod</th>
<th>BudgetPeriodStart</th>
<th>BudgetPeriodEnd</th>

</tr>
 
<tr>
	<td th:text="${selectedBudgetedIncome.id}"  />
	<td th:text="${selectedBudgetedIncome.description}" />
	<td th:text="${#dates.format(selectedBudgetedIncome.incomeDate, 'MM/dd/yyyy')}" /> 
	<td th:text="${selectedBudgetedIncome.amount}" />
< 	<td th:text="${linkedBudgetPeriod.id}" />
	<td th:text="${linkedBudgetPeriod.description}" />
	<td th:text="${linkedBudgetPeriod.startDate}" />
	<td th:text="${linkedBudgetPeriod.endDate}" /> 
	<td><a th:href="@{/editBudgetedIncome/{id}(id=${selectedBudgetedIncome.id})}">Edit</a></td>
	<td><a th:href="@{/deleteBudgetedIncome/{id}(id=${selectedBudgetedIncome.id})}">Delete</a></td>
	</tr>
</table>
</form>
<a href = "../viewAllBudgetPeriods">View all Budget Periods</a><br/>
<a href = "../viewAllBudgetedIncomes">View all Budgeted Income Entries</a><br/>
<a href="../inputBudgetedIncome">Add a new Budgeted Income Entry</a><br/>
</body>
</html>