<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>View All BudgetPeriods</title>
</head>
<body>
<form>
<table>
<tr th:each="currentBudgetPeriod: ${BudgetPeriods}">
	<td th:text="${currentBudgetPeriod.BudgetPeriodId}" />
	<td th:text="${currentBudgetPeriod.Description}" />
<!--	<td th:text="${currentBudgetPeriod.StartDate}" /> -->
<!-- 	<td th:text="${currentBudgetPeriod.EndDate}" /> -->
	
	
	<td><a th:href="@{/editBudgetPeriod/{id}(id=${currentBudgetPeriod.BudgetPeriodId})}">Edit</a></td>
	<td><a th:href="@{/deleteBudgetPeriod/{id}(id=${currentBudgetPeriod.BudgetPeriodId})}">Delete</a></td>
	</tr>
</table>
</form>
<a href = "../viewAllBudgetPeriods">View all Budget Periods</a><br/>
</body>
</html>