<!-- *** KEEPING FOR NOW IN CASE I NEED TO REVERT BACK TO THIS *** -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<style>
th, td {
  padding: 1px;
  padding-right: 1px;
  text-align: left; 
  vertical-align: center;
}
tr:nth-child(even) {background-color: #dddddd;}
</style>
<title>Choose Discretionary Categories</title>
</head>
<body>
	<h4>Select the categor(ies) you would like to include in this budget period:</h4>
	<form>
		<table>
			<tr th:each="currentCategory : ${allDiscretionaryCategories}">
				<td th:text="${currentCategory.description}" />
				<td><a th:href="@{/edit/{id}(id=${currentCategory.discCategoryId})}">Edit</a></td>
				<td><a th:href="@{/delete/{id}(id=${currentCategory.discCategoryId})}">Delete</a></td>
			</tr>
		</table>
		<br />
	</form>	
</body>
</html>